[submodule "third-party/lua"]
	path = third-party/lua
	url = https://github.com/lubgr/lua-cmake
[submodule "third-party/moonscript"]
	path = third-party/moonscript
	url = https://github.com/leafo/moonscript.git
[submodule "third-party/efsw"]
	path = third-party/efsw
	url = https://github.com/SpartanJ/efsw.git
